extends ../layout.pug
block content
    .mb-5
        - const entity = entities.find(i => i.name.plural  == params.entity)
        div.d-flex.align-items-center.gap-3
            h1.text-capitalize.mb-0 Create a new record
        p= 'Entity: ' + entity.name.plural
    if (entity.forms.create.allowed)
        form.border.rounded.py-3.px-4.bg-white.shadow-sm.row.m-0(action='create' method='POST')
            each field in entity.forms.create.fields
                .mb-3.col-6
                    label.form-label(for=field)= field
                    input.form-control(id=field name=field value=values[field]) 
                    if (errors)
                        small#email-error.form-text.text-danger.text-opacity-75= errors[field]
            .mb-3.col.d-flex.justify-content-between
                a.btn.btn-outline-secondary(href=entity.path) cancel
                button.btn.btn-primary(type='submit') create
    else
        h1.border.rounded.py-3.px-4.bg-white.shadow-sm.text-center.display-3 Action Not Allowed